/* SOHO FILM FINANCE SITE | DEVELOPED BY ROHAN CHAMBERS | 14 August 2014 */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.bold {
  font-weight: bold; }

/* ==========================================================================
   Custom styles
   ========================================================================== */
/* SASS Variables */
/* Specialised fonts */
@font-face {
  font-family: trajanPro;
  src: url("../fonts/trajanPro/trajanPro-Regular.eot");
  /* IE9 Compatibility Modes */
  src: url("../fonts/trajanPro/trajanPro-Regular.eot?") format("eot"), url("../fonts/trajanPro/trajanPro-Regular.woff") format("woff"), url("../fonts/trajanPro/trajanPro-Regular.ttf") format("truetype"), url("../fonts/trajanPro/trajanPro-Regular.svg#fonts/trajanPro-Regular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: univers49;
  src: url("../fonts/univers/univers-49/univers-49-ultra-condensed-light.eot");
  /* IE9 Compatibility Modes */
  src: url("../fonts/univers/univers-49/univers-49-ultra-condensed-light.eot?") format("eot"), url("../fonts/univers/univers-49/univers-49-ultra-condensed-light.woff") format("woff"), url("../fonts/univers/univers-49/univers-49-ultra-condensed-light.ttf") format("truetype"), url("../fonts/univers/univers-49/univers-49-ultra-condensed-light.svg#fonts/univers/univers-49/univers-49-ultra-condensed-light") format("svg");
  /* Legacy iOS */ }
h1,
#about-us p,
#mission-points li span,
#what-we-offer li span,
#mobile-logo {
  font-family: 'trajanPro', serif; }

h2, h3,
#milesAhead,
#arrow p,
#regulatory-environment p,
#star span,
#credentials-list li,
#our-products-copy p,
#summary p.first,
#joy,
.main-nav a,
#forecasting {
  font-family: 'univers49', serif; }

/* Typgraphy */
h1 {
  font-size: 22px; }

h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #8ea4af; }

h3 {
  font-size: 20px;
  color: #8ea4af; }

h1, h2 {
  margin: 0 0 15px 0;
  line-height: 1.2; }

p, li {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px; }

a {
  color: #FFF;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* Text style */
.primary-color {
  color: #8ea4af; }

.italic {
  font-style: italic; }

#mobile-logo {
  display: none; }

/* NAV */
header,
footer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  min-height: 35px;
  background: #8ea4af; }

footer {
  bottom: 0;
  min-height: 25px; }
  footer .main-nav {
    min-height: 25px; }
    footer .main-nav li {
      min-height: 25px; }
      footer .main-nav li a {
        font-size: 16px;
        line-height: 28px; }

.main-nav {
  position: relative;
  min-height: 35px;
  z-index: 1000;
  margin: 0 auto;
  width: 960px;
  background: #8ea4af; }
  .main-nav ul {
    margin: 0;
    padding: 0; }
  .main-nav li {
    display: block;
    float: left;
    width: auto;
    margin: 0 10px;
    min-height: 35px; }
  .main-nav #nav-item-one {
    margin-left: 0; }
  .main-nav a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    line-height: 38px;
    text-transform: uppercase; }
  .main-nav a:hover {
    color: #e4eaed; }

/* SLIDES */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1000px; }

#introduction, #welcome, #directors, #milesAhead, #mission,
#regulatory, #our-products, #music-rights, #our-process,
#summary, #contact {
  border-top: 10px solid #8ea4af; }

.container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding-top: 60px; }

.content {
  width: 100%;
  padding: 0 0 0 0; }

.col-1 {
  float: left;
  width: 47%;
  margin-right: 3%; }

.col-2 {
  float: right;
  width: 47%;
  margin-left: 3%; }

/* INTRO SLIDE */
#introduction {
  background: url(../img/intro/bg_intro.gif) no-repeat fixed;
  background-position: 0 0;
  background-size: cover; }
  #introduction .container {
    position: relative;
    height: 1000px;
    min-height: 100%; }

#logo {
  position: absolute;
  top: 15%;
  left: 16%;
  width: 165px;
  height: 165px;
  border: 20px solid #8ea4af;
  -webkit-border-radius: 165px;
  -moz-border-radius: 165px;
  -ms-border-radius: 165px;
  border-radius: 165px;
  background: white url(../img/intro/logo_SFF.png) no-repeat 10px 33px;
  background-size: 98%; }

#joy {
  position: absolute;
  top: 40%;
  left: 16%;
  width: 205px;
  height: 205px;
  font-size: 20px;
  line-height: 205px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  -webkit-border-radius: 173px;
  -moz-border-radius: 173px;
  -ms-border-radius: 173px;
  border-radius: 173px;
  background: #8ea4af; }

#circle-top {
  position: absolute;
  top: 28%;
  left: 0%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  background: #8ea4af; }

#circle-bottom {
  position: absolute;
  top: 38%;
  left: 0%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  background: #8ea4af; }

#circle-small {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: #8ea4af; }

#scroll-down {
  display: block;
  margin: 35px 0 0 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
  text-transform: none;
  color: #000; }

/* WELCOME SLIDE */
#welcome {
  height: 1000px;
  min-height: 100%;
  background: transparent; }

#london-landscape {
  position: relative;
  z-index: 100;
  height: 1000px;
  min-height: 100%;
  background: transparent url(../img/bg_london.png) repeat-x bottom center fixed;
  background-size: 90%; }

#welcome .container {
  position: relative;
  padding: 0; }

/*Override col widths*/
#welcome .col-1,
#welcome .col-2 {
  width: 35%;
  padding-top: 60px; }

#intro h1 {
  margin-bottom: 30px; }

#intro p {
  font-size: 13px; }

#about-us h2,
#about-us p {
  text-align: center; }

#about-us p {
  font-size: 16px; }

/* DIRECTORS SLIDE */
#directors .container {
  padding-top: 60px; }

#directors .header-box {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  height: 140px;
  background-color: #8ea4af; }
  #directors .header-box h2 {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 15px;
    color: #FFF;
    font-size: 30px; }

.profile {
  margin: 50px 0; }
  .profile img {
    float: left;
    width: 150px;
    margin: 0 15px 20px 0;
    border: 15px solid #8ea4af; }
  .profile h3 {
    margin: 0; }
  .profile p {
    margin: 0; }

/* MILES AHEAD SLIDE */
#milesAhead .content .col-1, #milesAhead .content .col-2 {
  position: relative;
  min-height: 940px; }
#milesAhead #text-be,
#milesAhead #text-miles,
#milesAhead #text-ahead,
#milesAhead #text-traditional,
#milesAhead #text-investors {
  display: block;
  text-transform: uppercase;
  line-height: 1; }
#milesAhead #text-be {
  position: absolute;
  top: 0%;
  font-size: 750px;
  color: #8ea4af; }
@-moz-document url-prefix() {
  #milesAhead #text-be {
    line-height: 80%; } }
#milesAhead #text-miles {
  position: absolute;
  top: 21%;
  left: 0;
  font-size: 63px;
  color: #8ea4af; }
#milesAhead #text-ahead {
  position: absolute;
  top: 21%;
  right: 0;
  font-size: 220px; }
#milesAhead #text-traditional {
  position: absolute;
  top: 44%;
  right: 0;
  font-size: 56px;
  color: #8ea4af; }
#milesAhead #text-investors {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 83px;
  color: #000; }
#milesAhead #group-persons {
  position: absolute;
  top: 0%;
  right: 7%;
  width: 219px;
  height: 130px;
  background: url(../img/milesAhead/milesAhead_group.jpg) no-repeat; }
#milesAhead #person {
  position: absolute;
  top: 43%;
  left: 0;
  width: 114px;
  height: 350px;
  background: url(../img/milesAhead/milesAhead_person.jpg) no-repeat; }

/* MMISSION AND VALUES SLIDE */
#mission .col-1 {
  width: 50%;
  min-height: 920px;
  margin: 0;
  padding-top: 80px;
  background-color: #e4eaed; }

#mission .col-2 {
  width: 45%;
  padding-top: 50px; }

#arrow {
  float: right;
  margin: 255px 50px 0 0;
  width: 150px;
  height: 100px;
  background: url(../img/mission/bg_arrow.png) no-repeat;
  background-size: 100%;
  display: none; }
  #arrow p {
    font-size: 22px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 60px;
    text-align: left;
    padding-left: 10px; }

#mission-points {
  float: right;
  margin: 0 50px 0 0;
  padding: 0; }
  #mission-points li {
    position: relative;
    display: block;
    width: 200px;
    min-height: 100px;
    margin: 0 0 20px 0;
    padding-left: 100px;
    background: url(../img/mission/bg_bullet.png) no-repeat top left;
    background-size: 30%; }
    #mission-points li span {
      position: absolute;
      top: 20%;
      left: 35px;
      font-size: 40px;
      color: #FFF; }
    #mission-points li h3 {
      font-size: 24px;
      color: #000;
      text-transform: uppercase;
      margin: 0; }
    #mission-points li p {
      margin: 0; }

#worldwide h2 {
  text-align: center; }

#worldwide img {
  max-width: 100%;
  height: auto; }

/* REGULATORY ENVIRONMENT */
#regulatory .col-1,
#regulatory .col-2 {
  width: 50%;
  min-height: 950px;
  margin: 0;
  padding-top: 50px; }

#regulatory .col-1-inner {
  width: 80%;
  float: right; }

#regulatory .col-2 {
  background-color: #e4eaed; }

#regulatory-environment p {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0; }

#regulatory-environment p span:nth-child(odd) {
  color: #313133; }

#regulatory-environment p span:nth-child(even) {
  color: #8ea4af; }

#star {
  position: relative;
  width: 399px;
  height: 377px;
  margin: 0 auto;
  text-align: center;
  background: url(../img/regulatory/bg_star.png) no-repeat top center;
  background-size: 100%; }
  #star span {
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 45%;
    left: 25%;
    margin: 0 -25px 0 0;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFF; }

#credentials-list {
  width: 100%;
  padding: 0; }
  #credentials-list li {
    display: block;
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
    list-style-type: none;
    background: url(../img/regulatory/bg_star_small.png) no-repeat top center; }

/* Mission and Values */
#our-products .container {
  padding-top: 0; }

#our-products .col-1,
#our-products .col-2 {
  width: 48%;
  min-height: 760px;
  margin: 0;
  padding: 60px 0 20px 0;
  overflow: hidden; }

#our-products-copy {
  min-height: 308px;
  padding-left: 175px;
  background: url(../img/products/bg_products.png) no-repeat top left; }
  #our-products-copy p {
    font-size: 20px; }

#what-we-offer {
  margin-top: 50px; }
  #what-we-offer h2 {
    text-align: center; }
  #what-we-offer ul {
    padding: 0; }
    #what-we-offer ul li {
      position: relative;
      display: block;
      float: left;
      width: 90px;
      margin: 0 25px 0 0;
      padding: 110px 0 0 0;
      list-style: none;
      background: url(../img/mission/bg_bullet.png) no-repeat top left;
      background-size: 100%;
      font-weight: bold; }
    #what-we-offer ul span {
      display: block;
      position: absolute;
      top: 30px;
      left: 40%;
      font-size: 40px;
      color: #FFF;
      font-weight: normal; }
    #what-we-offer ul .last {
      margin-right: 0; }

#scenario {
  position: relative; }
  #scenario #circle {
    position: absolute;
    top: 6%;
    left: 7%;
    z-index: 1;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    background: url(../img/products/bg_SFF_circle.png) no-repeat; }
  #scenario #scenario-copy {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 110px 0 30px 0;
    background: #8ea4af;
    color: #FFF; }
    #scenario #scenario-copy h2 {
      color: #FFF;
      width: 82%;
      margin: 0 8%; }
    #scenario #scenario-copy p {
      width: 82%;
      margin-left: 8%;
      margin-right: 8%; }

/* MUSIC RIGHTS SLIDE */
#music-rights {
  min-height: 1200px; }

#music-rights .col-2 {
  position: relative;
  width: 50%;
  min-height: 800px;
  margin-left: 0;
  padding-top: 80px; }

#music-rights h2 {
  margin: 15px 0; }

#music-rights h3 {
  margin: 0; }

#revenue h2 {
  text-align: center; }

#revenue p {
  width: 40%;
  margin: 15px auto;
  text-align: center; }

#revenue p.first {
  width: 80%; }

#headphones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 859px;
  background: url(../img/musicRights/bg_headphones.png) no-repeat top center;
  background-size: 100%; }

#headphones-copy {
  position: absolute;
  top: 13%; }

#forecasting {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase; }

/* OUR PROCESS (image only) */
#our-process img {
  max-width: 100%;
  height: auto; }

/* SUMMARY */
#summary h2 {
  text-align: center; }
#summary p.first {
  width: 75%;
  margin: 15px auto 40px auto;
  font-size: 25px;
  text-align: center; }

#fund-facts {
  text-align: center; }
  #fund-facts span {
    color: #8ea4af;
    font-weight: bold; }

#quote {
  width: 85%;
  margin: 50px auto 0 auto; }
  #quote span {
    display: block;
    line-height: normal;
    text-align: left; }
  #quote #strong {
    font-size: 75px; }
  #quote #reliable {
    font-size: 28px;
    color: black !important;
    margin-bottom: 0; }
  #quote #serious {
    font-size: 16px; }

/* CONTACT US */
#contact h2 {
  font-size: 50px;
  text-align: center;
  color: #FFF;
  margin: 0;
  padding: 40px 0 10px 0;
  background: #8ea4af; }
#contact #map {
  position: relative;
  width: 100%;
  height: 324px;
  margin: 10px 0;
  background: url(../img/contact/bg_map.jpg) no-repeat center center; }
  #contact #map img {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 0; }
  #contact #map #map-pointer {
    position: absolute;
    bottom: -80px;
    left: 50%;
    z-index: 10;
    margin-left: -75px;
    width: 157px;
    height: 225px;
    background: url(../img/contact/bg_map_pointer.png) no-repeat; }
#contact #contact-info {
  position: relative;
  width: 100%;
  min-height: 366px;
  padding: 75px 0;
  color: #FFF;
  text-align: center;
  background-color: #8ea4af; }
  #contact #contact-info span {
    color: #000; }
  #contact #contact-info .website {
    margin: 30px 0;
    font-weight: bold; }
  #contact #contact-info #credits {
    width: 100%;
    position: absolute;
    bottom: 20px; }
    #contact #contact-info #credits p {
      font-size: 10px;
      text-align: center;
      margin: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 975px) {
  #mobile-logo {
    display: block;
    width: auto;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-size: 100%;
    color: #FFF; }

  #hamburger {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url(../img/mobile/hamburger.png) no-repeat;
    background-size: 100%; }
    #hamburger a {
      width: 100%;
      height: 100%;
      display: block; }

  header .main-nav {
    display: none;
    width: 100%;
    margin: 0;
    border-bottom: 5px solid #FFF; }
    header .main-nav li {
      float: none;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid #e4eaed; }
    header .main-nav a {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      display: block; }
    header .main-nav a:hover, header .main-nav .active {
      background: #e4eaed;
      color: #000; }

  /* Simplify the basic layout */
  .container {
    /*background: purple;*/
    margin: 0 2%;
    width: auto; }

  #welcome .col-1 {
    float: left;
    width: 47%;
    margin-right: 3%; }

  #welcome .col-2 {
    float: right;
    width: 47%;
    margin-left: 3%; }

  #scenario #circle {
    width: 94%;
    height: 415px;
    background-size: 100%; }

  #milesAhead #text-be {
    font-size: 550px !important; }

  #milesAhead #text-miles {
    left: -23%; }

  #scenario #scenario-copy {
    bottom: -10px; } }
/* Small fix for star at 812px This is whens*/
@media (max-width: 812px) {
  #star {
    width: 100%; } }
@media (max-width: 768px) {
  #milesAhead {
    display: none; }

  .wrapper {
    /*position: relative;*/ }

  .container {
    /*background: blue;*/
    margin: 0 7.6%;
    padding-top: 0 !important;
    width: auto; }

  .profile img {
    float: none; }

  #mission .col-1,
  #mission .col-2,
  #regulatory .col-1,
  #regulatory .col-2,
  #our-products .col-1,
  #our-products .col-2,
  #music-rights .col-1,
  #music-rights .col-2,
  #summary .col-1,
  #summary .col-2 {
    float: none !important;
    width: auto !important;
    margin: 0 !important;
    padding: 30px 0;
    height: auto;
    min-height: 100%; }

  #mission-points {
    float: none; }
    #mission-points li {
      width: 300px;
      margin: 0 auto;
      background-size: 20%; }

  #worldwide img {
    display: block;
    margin: 0 auto 0 auto; }

  #regulatory .col-1-inner {
    float: none;
    margin: 0 auto; }

  #scenario #scenario-copy {
    position: relative !important;
    padding: 30px 0; }

  #scenario #circle {
    left: 50%;
    margin-left: -200px;
    display: none; }

  #what-we-offer h2 {
    text-align: left; }

  #quote span {
    text-align: center; }

  #music-rights {
    overflow: hidden; }

  #headphones {
    background-size: 100%; }

  #headphones-copy {
    position: relative;
    margin-top: 100px; }

  #scenario #circle {
    width: 63%; }

  #our-process {
    min-height: 0; }
    #our-process .container {
      padding: 30px 0 !important; }

  #star {
    width: 399px; } }
@media (max-width: 480px) {
  .container {
    /*        background: green;*/
    margin: 0 2%;
    padding-top: 0px;
    width: auto; }

  .col-1,
  .col-2 {
    float: none !important;
    width: auto !important;
    margin: 0 !important;
    padding-top: 30px !important; }

  #directors .col-1,
  #directors .col-2 {
    padding-top: 0px !important; }

  #intro h1 {
    margin-top: 20px; }

  #about-us h2, #about-us p {
    text-align: left; }

  #introduction {
    min-height: 500px; }
    #introduction .container {
      height: 500px; }

  #welcome {
    height: 800px; }

  #logo {
    top: 9%;
    left: 3%; }

  #circle-top {
    top: 10%;
    right: 10%;
    left: auto; }

  #circle-small {
    top: 22%;
    right: 5%;
    left: auto; }

  #circle-bottom {
    top: 32%;
    right: 10%;
    left: auto; }

  #joy {
    top: 4%;
    color: #8ea4af;
    background: none;
    text-indent: -9999px; }
    #joy a {
      text-indent: 0; }

  #mission-points {
    margin: 0 2%; }
    #mission-points li {
      width: auto; }

  #star {
    width: 60%;
    height: 300px; }
    #star span {
      font-size: 30px;
      left: 18%; }

  #quote {
    margin-top: 0; }
    #quote #strong {
      font-size: 65px; }

  #headphones-copy {
    margin-top: 45px; }
    #headphones-copy h2 {
      font-size: 25px; }

  #revenue p {
    width: 80%; }

  #scroll-down {
    color: #FFF; } }
@media (max-width: 320px) {
  .container {
    /*        background: yellow;*/
    margin: 0 2%;
    width: auto; }

  #mission-points li {
    background-size: 27%; }

  #star {
    width: 95%; }

  #credentials-list {
    width: auto;
    margin: 0 2%; }

  #what-we-offer ul li {
    width: auto;
    margin: 0 2% 15px 2%;
    background-size: 25%;
    padding-top: 100px; }

  #what-we-offer ul span {
    top: 20px;
    left: 10%; }

  #our-products-copy {
    padding: 0;
    background: none; }

  #regulatory-environment p {
    font-size: 30px; } }
@media (max-width: 480px) and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
  #introduction {
    background: #8ea4af;
    min-height: 0; }
    #introduction .container {
      height: 500px;
      /*            background: red;*/ }
    #introduction #logo {
      top: 10%;
      left: 3%; }
    #introduction #circle-top {
      left: auto;
      right: 10%;
      top: 12%; }
    #introduction #circle-small {
      left: auto;
      right: 5%;
      top: 25%; }
    #introduction #circle-bottom {
      left: auto;
      right: 10%;
      top: 39%; }
    #introduction #joy {
      width: auto;
      height: auto;
      top: 44%;
      background: transparent;
      border-radius: 0;
      line-height: normal;
      color: transparent; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .wrapper:before,
.clearfix:after,
.wrapper:after {
  content: " ";
  display: table; }

.clearfix:after, .wrapper:after {
  clear: both; }

.clearfix, .wrapper {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*Notes*/
/*

welcome 35 / 35
padding-top: 60

Directors 47 / 3
padding-top: 30

miles 47 / 3
padding-top: 60

mission 50 / 45
padding-top: 60

regulatory 50 / 50 
padding-top: 60

our-products 48 / 48
padding-top: 60



*/
