/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.col-md-12 {
	background: orange;
}
.col-md-6 {
	background: red;
}
.col-md-6.col-2 {
	background: blue;
}

.container {
	position: relative;
	height: 100%;
}

#bg-london {
	position: absolute;
	bottom: 0;
	height: 100%;
	background: url(../img/bg_london.gif) center bottom repeat-x;
	background-size: 70%;
}