#introduction {
    -skrollr-animation-name:introduction;
}

@-skrollr-keyframes introduction {
    0 {
        background-position:0 0px;
    }

    500 {
        background-position:0 -50px;
    }
}

#logo {
    -skrollr-animation-name:logo;
}

@-skrollr-keyframes logo {
    0 {
        top:15%;
    }

    2000 {
        top:-20%;
    }
}

#joy {
    -skrollr-animation-name:joy;
}

@-skrollr-keyframes joy {
    0 {
        top:40%;
    }

    1000 {
        top:-20%;
    }
}

#circle-top {
    -skrollr-animation-name:circle-top;
}

@-skrollr-keyframes circle-top {
    0 {
        top:28%;
    }

    700 {
        top:-20%;
    }
}

#circle-bottom {
    -skrollr-animation-name:circle-bottom;
}

@-skrollr-keyframes circle-bottom {
    0 {
        top:38%;
    }

    50 {
        top:38%
    }

    500 {
        top:-20%;
    }
}

#circle-small {
    -skrollr-animation-name:circle-small;
}

@-skrollr-keyframes circle-small {
    0 {
        top:35%;
    }

    500 {
        top: 35%;
    }

    500 {
        top:-20%;
    }
}




#text-be {
    -skrollr-animation-name:text-be;
}

@-skrollr-keyframes text-be {
    0 {
        top:7%;
    }

    2475  {
        top: 40%;
    }

    3090 {
        top: 7%;
    }

    3500 {
        top: 7%;
    }

    3875 {
        top: -20%;
    }
}

#text-miles {
    -skrollr-animation-name:text-miles;
}

@-skrollr-keyframes text-miles {
    0 {
        top:21%;
    }

    2600  {
        top: 80%;
    }

    3090 {
        top:22%;
    }

    3475 {
        top:-20%;
    }
}

#text-ahead {
    -skrollr-animation-name:text-ahead;
}

@-skrollr-keyframes text-ahead {
    0 {
        top:22%;
    }

    2800  {
        top: 80%;
    }

    3090 {
        top:22%;
    }

    3900 {
        top:-20%;
    }
}

#text-traditional {
    -skrollr-animation-name:text-traditional;
}

@-skrollr-keyframes text-traditional {
    0 {
        top:100%;
    }

    2600  {
        top:200%;
    }

    3090 {
        top:41%;
    }

    3200 {
        top:41%;
    }

    3700 {
        top:0%;
    }
}

#text-investors {
    -skrollr-animation-name:text-investors;
}

@-skrollr-keyframes text-investors {
    0 {
        top:100%;
    }

    2600  {
        top:300%;
    }

    3090 {
        top:47%;
    }

    3300 {
        top:47%;
    }    

    3550 {
        top:0%;
    }
}

#person {
    -skrollr-animation-name:person;
}

@-skrollr-keyframes person {
    0 {
        top:100%;
    }

    2600  {
        top:300%;
    }

    3090 {
        top:47%;
    }

    3900 {
        top:-20%;
    }
}

#group-persons {
    -skrollr-animation-name:group-persons;
}

@-skrollr-keyframes group-persons {
    0 {
        top:0%;
    }

    2150  {
        top: 20%;
    }

    3090 {
        top:0%;
    }

    3475 {
        top:0%;
    }
}




#headphones {
    -skrollr-animation-name:headphones;
}

@-skrollr-keyframes headphones {
    5300 {
        top:-60%;
    }

    6400 {
        top: 100%;
    }

    7130 {
        top: 0%;
    }
}

#headphones-copy {
    -skrollr-animation-name:headphones-copy;
}

@-skrollr-keyframes headphones-copy {
    0 {
        top:0%;
    }

    6800 {
        top: 100%;
    }

    7130 {
        top: 10%;
    }
}




#circle {
    -skrollr-animation-name:circle;
}

@-skrollr-keyframes circle {
    5300 {
        top:-60%;
        transform: rotate(130deg);
            -ms-transform: rotate(130deg);
                -webkit-transform: rotate(130deg);      
    }

    6120 {
        top: 6%;
        transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);   
    }

}